
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,aItemress=no">
    <title>搜索</title>
    <link href="~/Content/css/aui.css" rel="stylesheet" />
</head>
<body>





    <header class="aui-bar aui-bar-nav aui-bar-light">
        <a class="aui-pull-left" style="color: #03a9f4;">四川成都</a>
        <a class="aui-pull-right aui-btn aui-btn-outlined" href="/Html/ConSearch.html">
            <span class="aui-iconfont aui-icon-search"></span>
        </a>
    </header>

    <section class="aui-content-padded">
        <div class="aui-card-list">
            <div class="aui-card-list-content">
            </div>
            <div class="userinfo-header">
                <div class="aui-info">
                    <div class="aui-info-item">
                        <img src="~/Content/jiaoben3911/images/6.jpg" style="width:2.2rem;height:2.2rem" />
                        <span class="aui-margin-l-10 aui-margin-r-10">爱笑的燕儿</span>
                        <i class="aui-iconfont aui-icon-laud aui-text-info "></i>
                    </div>
                    <div class="aui-info-item">

                        <img style="width:1.2rem;height:1.2rem;float:left" src="~/Content/images/huangguan.png" />
                        <img style="width:1.2rem;height:1.2rem;float:left" src="~/Content/images/vip.png" />
                        <img style="width:1.2rem;height:1.2rem;float:left" src="~/Content/images/zuanshi.png" />
                        <img style="width:1.2rem;height:1.2rem;float:left" src="~/Content/images/zuanshi.png" />
                    </div>
                </div>
            </div>
            <div class="aui-card-list-content-padded">
                只工作不玩耍，聪明的孩子要变傻 只工作不玩耍，聪明的孩子要变傻 只工作不玩耍，聪明的孩子要变傻 只工作不玩耍，聪明的孩子要变傻
            </div>
            <div class="aui-card-list-footer aui-border-t">
                <div><i class="aui-iconfont aui-icon-note"></i> 聊一下</div>
                <div><i class="aui-iconfont aui-icon-laud"></i> 留言</div>
                <div onclick="openSharebox();"><i class="aui-iconfont aui-icon-star"></i> 表达爱意</div>
            </div>
        </div>
        <div class="aui-card-list">
            <div class="userinfo-header">
                <div class="aui-info">
                    <div class="aui-info-item">
                        <img src="image/demo/person2.jpg" style="width:2.2rem" />
                        <span class="aui-margin-l-10">AUI</span>
                    </div>

                    <div class="aui-info-item">

                    </div>
                </div>
            </div>
            <div class="aui-card-list-content-padded">
                内容区域，卡片列表布局样式可以实现APP中常见的各类样式
                <input type="button" onclick="ttB()" value="ddd" />
            </div>
            <div class="aui-card-list-footer aui-border-t">
                <div><i class="aui-iconfont aui-icon-note"></i> 聊一下</div>
                <div><i class="aui-iconfont aui-icon-laud"></i> 888</div>
                <div><i class="aui-iconfont aui-icon-star"></i> 888</div>
            </div>
        </div>

        <div class="aui-card-list">
            <div class="aui-card-list-content">
            </div>
            <div class="userinfo-header">
                <div class="aui-info">
                    <div class="aui-info-item">
                        <img src="image/demo/person1.jpg" style="width:2.2rem" />
                        <span class="aui-margin-l-10 aui-margin-r-10">AUI</span>
                        <i class="aui-iconfont aui-icon-laud aui-text-info "></i>
                    </div>
                    <div class="aui-info-item">11km</div>
                </div>
            </div>
            <div class="aui-card-list-content-padded">
                只工作不玩耍，聪明的孩子要变傻
            </div>
            <div class="aui-card-list-footer aui-border-t">
                <div><i class="aui-iconfont aui-icon-note"></i> 聊一下</div>
                <div><i class="aui-iconfont aui-icon-laud"></i> 888</div>
                <div><i class="aui-iconfont aui-icon-star"></i> 888</div>
            </div>
        </div>
        <div class="aui-card-list">
            <div class="userinfo-header">
                <div class="aui-info">
                    <div class="aui-info-item">
                        <img src="image/demo/person2.jpg" style="width:2.2rem" />
                        <span class="aui-margin-l-10">AUI</span>
                    </div>
                    <div class="aui-info-item">11km</div>
                </div>
            </div>
            <div class="aui-card-list-content-padded">
                内容区域，卡片列表布局样式可以实现APP中常见的各类样式
                <input type="button" onclick="ttB()" value="ddd" />
            </div>
            <div class="aui-card-list-footer aui-border-t">
                <div><i class="aui-iconfont aui-icon-note"></i> 聊一下</div>
                <div><i class="aui-iconfont aui-icon-laud"></i> 888</div>
                <div><i class="aui-iconfont aui-icon-star"></i> 888</div>
            </div>
        </div>

        <div class="aui-card-list">
            <div class="aui-card-list-content">
            </div>
            <div class="userinfo-header">
                <div class="aui-info">
                    <div class="aui-info-item">
                        <img src="image/demo/person1.jpg" style="width:2.2rem" />
                        <span class="aui-margin-l-10 aui-margin-r-10">AUI</span>
                        <i class="aui-iconfont aui-icon-laud aui-text-info "></i>
                    </div>
                    <div class="aui-info-item">11km</div>
                </div>
            </div>
            <div class="aui-card-list-content-padded">
                只工作不玩耍，聪明的孩子要变傻
            </div>
            <div class="aui-card-list-footer aui-border-t">
                <div><i class="aui-iconfont aui-icon-note"></i> 聊一下</div>
                <div><i class="aui-iconfont aui-icon-laud"></i> 888</div>
                <div><i class="aui-iconfont aui-icon-star"></i> 888</div>
            </div>
        </div>
        <div class="aui-card-list">
            <div class="userinfo-header">
                <div class="aui-info">
                    <div class="aui-info-item">
                        <img src="image/demo/person2.jpg" style="width:2.2rem" />
                        <span class="aui-margin-l-10">AUI</span>
                    </div>
                    <div class="aui-info-item">11km</div>
                </div>
            </div>
            <div class="aui-card-list-content-padded">
                内容区域，卡片列表布局样式可以实现APP中常见的各类样式
                <input type="button" onclick="ttB()" value="ddd" />
            </div>
            <div class="aui-card-list-footer aui-border-t">
                <div><i class="aui-iconfont aui-icon-note"></i> 聊一下</div>
                <div><i class="aui-iconfont aui-icon-laud"></i> 888</div>
                <div><i class="aui-iconfont aui-icon-star"></i> 888</div>
            </div>
        </div>
    </section>


    <section>
        <div class="aui-content">
            <footer class="aui-bar aui-bar-tab" id="footer">
                <div class="aui-bar-tab-item" tapmode>
                    <i class="aui-iconfont aui-icon-home"></i>
                    <div class="aui-bar-tab-label">
                        插肩而过
                    </div>
                </div>
                <div class="aui-bar-tab-item aui-active" tapmode>
                    <i class="aui-iconfont aui-icon-star"></i>
                    <div class="aui-bar-tab-label">
                        搜索
                    </div>
                </div>
                <div class="aui-bar-tab-item" tapmode>
                    <div class="aui-badge">99</div>
                    <i class="aui-iconfont aui-icon-cart"></i>
                    <div class="aui-bar-tab-label">消息</div>
                </div>
                <div class="aui-bar-tab-item" tapmode>
                    <div class="aui-dot"></div>
                    <i class="aui-iconfont aui-icon-my"></i>
                    <div class="aui-bar-tab-label">
                        我
                    </div>
                </div>
            </footer>
        </div>
    </section>
    <script type="text/javascript">
  
    </script>
</body>
</html>