
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>通讯录</title>
</head>
<body>



    <header id="header" class="aui-bar aui-bar-nav aui-bar-light">
        <div id="msgTabChange" class="aui-bar aui-bar-btn" style="width: 80%; min-height: 1.8rem;">
            <div class="header-nav aui-bar-btn-item" url="/Msg/Chat">聊天</div>
            <div class="header-nav aui-bar-btn-item  aui-active" url="/Msg/Book">通讯录</div>
            <div class="header-nav aui-bar-btn-item" url="/Msg/Notify">通知</div>
        </div>
    </header>
    <div class="aui-content" style="position: absolute; overflow: auto; top: 2.25rem; bottom: 2.5rem;width: 100%">
        <ul class="aui-list aui-media-list">
            <li class="aui-list-item aui-list-item-middle" style="margin-top: 5px;">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media wechat-avatar">
                        <img src="~/Content/jiaoben3911/images/8.jpg" />
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">美酷思牛仔</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="aui-list-item aui-list-item-middle">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media wechat-avatar">
                        <img src="~/Content/jiaoben3911/images/4.jpg" />
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">张三</div>
                        </div>
                        <div >
                            <img style="width:1.2rem;height:1.2rem;float:left" src="~/Content/images/huangguan.png" />
                            <img style="width:1.2rem;height:1.2rem;float:left" src="~/Content/images/vip.png" />
                            <img style="width:1.2rem;height:1.2rem;float:left" src="~/Content/images/zuanshi.png" />
                        </div>
                    </div>
                </div>
            </li>
            <li class="aui-list-item aui-list-item-middle">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media wechat-avatar">
                        <img src="~/Content/jiaoben3911/images/12.jpg" />
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">李四</div>
                        </div>
                        <div class="aui-list-item-text aui-font-size-12">
                            期待你的出现
                        </div>
                    </div>
                </div>
            </li>
            <li class="aui-list-item aui-list-item-middle" style="margin-top: 5px;">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media wechat-avatar">
                        <img src="image/demo/person1.jpg" />
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">流浪男Friend</div>
                            <!--<div class="aui-list-item-right">星期一</div>-->
                        </div>
                        <div class="aui-list-item-text aui-font-size-12">
                            悲伤的逆流成河水电费费地方郭德纲地方...
                        </div>
                    </div>
                </div>
            </li>
            <li class="aui-list-item aui-list-item-middle">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media wechat-avatar">
                        <img src="image/demo/person2.jpg" />
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">张三</div>
                            <!--<div class="aui-list-item-right">可爱型</div>-->
                        </div>
                        <div class="aui-list-item-text aui-font-size-12">
                            三生三世,十里花卷
                        </div>
                    </div>
                </div>
            </li>
            <li class="aui-list-item aui-list-item-middle">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media wechat-avatar">
                        <img src="image/demo/timg (1).jpg" />
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">李四</div>
                        </div>
                        <div class="aui-list-item-text aui-font-size-12">
                            期待你的出现
                        </div>
                    </div>
                </div>
            </li>



        </ul>
        </div>


</body>

</html>