
@{
    Layout = null;
}

<header id="header" class="aui-bar aui-bar-nav aui-bar-light">
        <div id="msgTabChange" class="aui-bar aui-bar-btn" style="width: 80%; min-height: 1.8rem;">
            <div class="header-nav aui-bar-btn-item aui-active" url="/Msg/Chat">聊天</div>
            <div class="header-nav aui-bar-btn-item" url="/Msg/Book">通讯录</div>
            <div class="header-nav aui-bar-btn-item" url="/Msg/Notify">通知</div>
        </div>
    </header>
    
    <div class="aui-content" style="position: absolute; overflow: auto; top: 2.25rem; bottom: 2.5rem;width: 100%">
    <div class="aui-content u-top-tab-margin" style="margin-top: 0.3rem;" id="scrContent" >
    <ul class="aui-list aui-media-list">
    <li class="aui-list-item aui-list-item-middle" style="margin-top: 5px;">
        <div class="aui-media-list-item-inner">
            <div class="aui-list-item-media wechat-avatar">
                <div class="aui-badge">9</div>
                <img src="~/Content/jiaoben3911/images/4.jpg" />
            </div>
            <div class="aui-list-item-inner">
                <div class="aui-list-item-text">
                    <div class="aui-list-item-title">流浪男Friend</div>
                    <div class="aui-list-item-right">12:43</div>
                </div>
                <div class="aui-list-item-text aui-font-size-12">
                    不客气哈
                </div>
            </div>
        </div>
    </li>
    <li class="aui-list-item aui-list-item-middle" style="margin-top: 5px;">
        <div class="aui-media-list-item-inner">
            <div class="aui-list-item-media wechat-avatar">
                <img src="~/Content/jiaoben3911/images/7.jpg" />
            </div>
            <div class="aui-list-item-inner">
                <div class="aui-list-item-text">
                    <div class="aui-list-item-title">流浪男Friend</div>
                    <div class="aui-list-item-right">3分钟前</div>
                </div>
             

                <div class="aui-list-item-text aui-font-size-12" style="white-space:nowrap; width:12em; overflow:hidden;">
                    不客气哈不客气哈不客气哈不客气哈不客气哈不客气哈不客气哈不客气哈哈不客气哈不客气
                </div>
            </div>
        </div>
    </li>
    <li class="aui-list-item aui-list-item-middle" style="margin-top: 5px;">
        <div class="aui-media-list-item-inner">
            <div class="aui-list-item-media wechat-avatar">
                <div class="aui-badge">9</div>
                <img src="image/demo5.png" />
            </div>
            <div class="aui-list-item-inner">
                <div class="aui-list-item-text">
                    <div class="aui-list-item-title">流浪男Friend</div>
                    <div class="aui-list-item-right">3分钟前</div>
                </div>
                <div class="aui-list-item-text aui-font-size-12">
                    15:32
                </div>
            </div>
        </div>
    </li>
    <li class="aui-list-item aui-list-item-middle" style="margin-top: 5px;">
        <div class="aui-media-list-item-inner">
            <div class="aui-list-item-media wechat-avatar">
                <div class="aui-badge">9</div>
                <img src="image/demo5.png" />
            </div>
            <div class="aui-list-item-inner">
                <div class="aui-list-item-text">
                    <div class="aui-list-item-title">流浪男Friend</div>
                    <div class="aui-list-item-right">3分钟前</div>
                </div>
                <div class="aui-list-item-text aui-font-size-12">
                    15:32
                </div>
            </div>
        </div>
    </li>
    <li class="aui-list-item aui-list-item-middle" style="margin-top: 5px;">
        <div class="aui-media-list-item-inner">
            <div class="aui-list-item-media wechat-avatar">
                <div class="aui-badge">9</div>
                <img src="image/demo5.png" />
            </div>
            <div class="aui-list-item-inner">
                <div class="aui-list-item-text">
                    <div class="aui-list-item-title">流浪男Friend</div>
                    <div class="aui-list-item-right">3分钟前</div>
                </div>
                <div class="aui-list-item-text aui-font-size-12">
                    15:32
                </div>
            </div>
        </div>
    </li>
    <li class="aui-list-item aui-list-item-middle" style="margin-top: 5px;">
        <div class="aui-media-list-item-inner">
            <div class="aui-list-item-media wechat-avatar">
                <div class="aui-badge">9</div>
                <img src="image/demo5.png" />
            </div>
            <div class="aui-list-item-inner">
                <div class="aui-list-item-text">
                    <div class="aui-list-item-title">流浪男Friend</div>
                    <div class="aui-list-item-right">3分钟前</div>
                </div>
                <div class="aui-list-item-text aui-font-size-12">
                    15:32
                </div>
            </div>
        </div>
    </li>
    <li class="aui-list-item aui-list-item-middle" style="margin-top: 5px;">
        <div class="aui-media-list-item-inner">
            <div class="aui-list-item-media wechat-avatar">
                <div class="aui-badge">9</div>
                <img src="image/demo5.png" />
            </div>
            <div class="aui-list-item-inner">
                <div class="aui-list-item-text">
                    <div class="aui-list-item-title">流浪男Friend</div>
                    <div class="aui-list-item-right">3分钟前</div>
                </div>
                <div class="aui-list-item-text aui-font-size-12">
                    15:32
                </div>
            </div>
        </div>
    </li>
    <li class="aui-list-item aui-list-item-middle">
        <div class="aui-media-list-item-inner">
            <div class="aui-list-item-media wechat-avatar">
                <img src="image/demo1.png" />
            </div>
            <div class="aui-list-item-inner">
                <div class="aui-list-item-text">
                    <div class="aui-list-item-title">张三</div>
                    <div class="aui-list-item-right">2小时前</div>
                </div>
                <div class="aui-list-item-text aui-font-size-12">
                    三生三世,十里花卷
                </div>
            </div>
        </div>
    </li>
    <li class="aui-list-item aui-list-item-middle">
        <div class="aui-media-list-item-inner">
            <div class="aui-list-item-media wechat-avatar">
                <div class="aui-dot"></div>
                <img src="image/demo4.png" />
            </div>
            <div class="aui-list-item-inner">
                <div class="aui-list-item-text">
                    <div class="aui-list-item-title">李四</div>
                    <div class="aui-list-item-right">星期一</div>
                </div>
                <div class="aui-list-item-text aui-font-size-12">
                    Hello AUI 2.0!
                </div>
            </div>
        </div>
    </li>
    <li class="aui-list-item aui-list-item-middle" style="margin-top: 5px;">
        <div class="aui-media-list-item-inner">
            <div class="aui-list-item-media wechat-avatar">
                <div class="aui-badge">9</div>
                <img src="image/demo5.png" />
            </div>
            <div class="aui-list-item-inner">
                <div class="aui-list-item-text">
                    <div class="aui-list-item-title">流浪男</div>
                    <div class="aui-list-item-right">星期一</div>
                </div>
                <div class="aui-list-item-text aui-font-size-12">
                    Hello AUI 2.0!
                </div>
            </div>
        </div>
    </li>
    <li class="aui-list-item aui-list-item-middle">
        <div class="aui-media-list-item-inner">
            <div class="aui-list-item-media wechat-avatar">
                <img src="image/demo1.png" />
            </div>
            <div class="aui-list-item-inner">
                <div class="aui-list-item-text">
                    <div class="aui-list-item-title">张三</div>
                    <div class="aui-list-item-right">1天前</div>
                </div>
                <div class="aui-list-item-text aui-font-size-12">
                    Hello AUI 2.0!
                </div>
            </div>
        </div>
    </li>
    <li class="aui-list-item aui-list-item-middle">
        <div class="aui-media-list-item-inner">
            <div class="aui-list-item-media wechat-avatar">
                <div class="aui-dot"></div>
                <img src="image/demo4.png" />
            </div>
            <div class="aui-list-item-inner">
                <div class="aui-list-item-text">
                    <div class="aui-list-item-title">李四</div>
                    <div class="aui-list-item-right">星期一</div>
                </div>
                <div class="aui-list-item-text aui-font-size-12">
                    Hello AUI 2.0!
                </div>
            </div>
        </div>
    </li>

    <li class="aui-list-item aui-list-item-middle" style="margin-top: 5px;">
        <div class="aui-media-list-item-inner">
            <div class="aui-list-item-media wechat-avatar">
                <div class="aui-badge">9</div>
                <img src="image/demo5.png" />
            </div>
            <div class="aui-list-item-inner">
                <div class="aui-list-item-text">
                    <div class="aui-list-item-title">流浪男</div>
                    <div class="aui-list-item-right">星期一</div>
                </div>
                <div class="aui-list-item-text aui-font-size-12">
                    Hello AUI 2.0!
                </div>
            </div>
        </div>
    </li>
    </ul>
    </div>
   </div>

