
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>插肩而过</title>
    <link href="~/Content/jiaoben3911/css/style.css?t=@DateTime.Now" rel="stylesheet" />
</head>
<body>

    <header id="header" class="aui-bar aui-bar-nav aui-bar-light">
        <div id="msgTabChange" class="aui-bar aui-bar-btn" style="width: 80%; min-height: 1.8rem;">
            <div class="header-nav aui-bar-btn-item aui-active">插肩而过</div>
            <div class="header-nav aui-bar-btn-item">情感</div>
        </div>
    </header>
    <div class="aui-content" style="position: absolute; overflow: auto; top: 2.25rem; bottom: 2.5rem;width: 100%">
        <div class="wrapper" style="margin-top: 10px;">
            <ul class="wall">
                <li class="article">
                    <a href="javascript:void(0);" class="link" url-ajax="/Person/Details">
                        <img src="~/Content/jiaoben3911/images/7.jpg" />
                        <p>
                            <img style="width:1.2rem;height:1.2rem;float:left" src="~/Content/images/huangguan.png" />
                            <img style="width:1.2rem;height:1.2rem;float:left" src="~/Content/images/vip.png" />
                            <img style="width:1.2rem;height:1.2rem;float:left" src="~/Content/images/zuanshi.png" />
                            <img style="width:1.2rem;height:1.2rem;float:left" src="~/Content/images/zuanshi.png" />
                            <img style="width:1.2rem;height:1.2rem;float:left" src="~/Content/images/zuanshi.png" />
                            <img style="width:1.2rem;height:1.2rem;float:left" src="~/Content/images/zuanshi.png" />
                            <img style="width:1.2rem;height:1.2rem;float:left" src="~/Content/images/zuanshi.png" />
                            <img style="width:1.2rem;height:1.2rem;float:left" src="~/Content/images/zuanshi.png" />
                            <img style="width:1.2rem;height:1.2rem;float:left" src="~/Content/images/zuanshi.png" />
                            <img style="width:1.2rem;height:1.2rem;float:left" src="~/Content/images/zuanshi.png" />
                            <img style="width:1.2rem;height:1.2rem;float:left" src="~/Content/images/zuanshi.png" />
                        </p>
                        <p>曾与你四川成都天府成都天府三街插成都天府三街插成都天府三街插成都天府三街插成都天府三街插三街插肩而过dfgdfgdfgdfgdgr</p>
                        <input type="button" value="的份上" />
                    </a>
                </li>
                <li class="article">
                    <a href="javascript:void(0);" class="link" url-ajax="/Person/Details">
                        <img src="~/Content/jiaoben3911/images/7.jpg" />
                        <p>
                            <img style="width:1.2rem;height:1.2rem;float:left" src="~/Content/images/vip.png" />
                            <img style="width:1.2rem;height:1.2rem;float:left" src="~/Content/images/zuanshi.png" />
                        </p>
                        <p>相信缘分,非诚勿扰...</p>
                        <input type="button" value="有好感" />
                    </a>
                </li>
                <li class="article">
                    <a href="javascript:void(0);" class="link" url-ajax="/Person/Details">
                        <img src="~/Content/jiaoben3911/images/7.jpg" />
                        <p>用户名用户名用户名用户名用户名</p>

                        <p>相信缘分,非诚勿扰...</p>
                        <p><small>24岁 四川成都 客服经理</small></p>
                        <p><small> 158cm</small></p>

                        <input type="button" value="有好感" />
                    </a>
                </li>
                <li class="article">
                    <a href="http://sc.chinaz.com/">
                        <img src="~/Content/jiaoben3911/images/12.jpg" />
                        <p>用户名用户名用户名用户名</p>
                        <!--<small>10000000票</small>-->
                        <input type="button" value="投票" />
                    </a>
                </li>
                <li class="article">
                    <a href="http://sc.chinaz.com/">
                        <img src="~/Content/jiaoben3911/images/4.jpg" />
                        <p>用户名用户名用户名用户名用户名</p>
                        <small>10000000票</small>
                        <input type="button" value="投票" />
                    </a>
                </li>
                <li class="article">
                    <a href="http://sc.chinaz.com/">
                        <img src="~/Content/jiaoben3911/images/6.jpg" />
                        <p>用户名用户名用户名用户名用户名</p>
                        <small>10000000票</small>
                        <input type="button" value="投票" />
                    </a>
                </li>
                <li class="article">
                    <a href="http://sc.chinaz.com/">
                        <img src="~/Content/jiaoben3911/images/4.jpg" />
                        <p>用户名用户名用户名用户名用户名</p>
                        <small>10000000票</small>
                        <input type="button" value="投票" />
                    </a>
                </li>
                <li class="article">
                    <a href="http://sc.chinaz.com/">
                        <img src="~/Content/jiaoben3911/images/6.jpg" />
                        <p>用户名用户名用户名用户名用户名</p>
                        <small>10000000票</small>
                        <input type="button" value="投票" />
                    </a>
                </li>
                <li class="article">
                    <a href="http://sc.chinaz.com/">
                        <img src="~/Content/jiaoben3911/images/4.jpg" />
                        <p>用户名用户名用户名用户名用户名</p>
                        <small>10000000票</small>
                        <input type="button" value="投票" />
                    </a>
                </li>
                <li class="article">
                    <a href="http://sc.chinaz.com/">
                        <img src="~/Content/jiaoben3911/images/6.jpg" />
                        <p>用户名用户名用户名用户名用户名</p>
                        <small>10000000票</small>
                        <input type="button" value="投票" />
                    </a>
                </li>
                <li class="article">
                    <a href="http://sc.chinaz.com/">
                        <img src="~/Content/jiaoben3911/images/4.jpg" />
                        <p>用户名用户名用户名用户名用户名</p>
                        <small>10000000票</small>
                        <input type="button" value="投票" />
                    </a>
                </li>
                <li class="article">
                    <a href="http://sc.chinaz.com/">
                        <img src="~/Content/jiaoben3911/images/6.jpg" />
                        <p>用户名用户名用户名用户名用户名</p>
                        <small>10000000票</small>
                        <input type="button" value="投票" />
                    </a>
                </li>
            </ul>
        </div>

        </div>
</body>
</html>
